.heading {
    text-align: center;
    align-items: center;
}

.registration-form {
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
}

.form-field {
    display: block;
    margin: 0 1.6rem 0 1.6rem;
}

.card {
    max-width: 50%;
    margin: auto;
    padding: 1.6rem;
    top: 2.4rem;
}

.card-header {
    text-align: center;
    justify-content: center;
    align-items: center;
}